.landing-cls-1 {
  opacity: 0.5;
}

.landing-cls-1,
.landing-cls-2 {
  fill: #59270c;
}

.landing-cls-3 {
  fill: #5a2515;
}

.landing-cls-4 {
  fill: #6c4323;
}

.landing-cls-5 {
  fill: #762d17;
}

.landing-cls-6 {
  fill: #b87534;
}

.landing-cls-7 {
  fill: #c48649;
}

.landing-cls-8 {
  fill: #ae601f;
}

.landing-cls-9 {
  fill: #5f2213;
}

.landing-cls-10 {
  fill: #ac6e3c;
}

.landing-cls-11 {
  fill: #553417;
}

.landing-cls-12 {
  fill: #e9c499;
}

.landing-cls-13 {
  fill: #672412;
}

.landing-cls-14 {
  fill: #433f1d;
}

.landing-cls-15 {
  fill: #d7b18c;
}

.landing-cls-16 {
  fill: #a28360;
}

.landing-cls-17 {
  fill: #784d23;
}

.landing-cls-18 {
  fill: #572012;
}

.landing-cls-19 {
  fill: #463015;
}

.landing-cls-20 {
  fill: #965c29;
}

.landing-cls-21 {
  fill: #4c3418;
}

.landing-cls-22 {
  fill: #5f3f22;
}

.landing-cls-23 {
  fill: #825e3a;
}

.landing-cls-24 {
  fill: none;
  stroke: #fff;
  stroke-miterlimit: 10;
}

.landing-cls-25 {
  fill: #6e2314;
}

.landing-cls-26 {
  fill: #4f2214;
}

.landing-cls-27 {
  fill: #86511e;
}

.landing-cls-28 {
  fill: #ae6529;
}

.landing-cls-29 {
  fill: #ad855b;
}

.landing-cls-30 {
  fill: #5f2c16;
}

.landing-cls-31 {
  fill: #be7f4f;
}

.landing-cls-32 {
  fill: #c08149;
}

.landing-cls-33 {
  fill: #623521;
}

.landing-cls-34 {
  fill: #c17f48;
}

.landing-cls-35 {
  fill: #85572e;
}

.landing-cls-36 {
  fill: #a67544;
}

.landing-cls-37 {
  fill: #b18e69;
}

.landing-cls-38 {
  fill: #5b3a28;
}

.landing-cls-39 {
  fill: #aa7541;
}

.landing-cls-40 {
  fill: #764b26;
}

.landing-cls-41 {
  fill: #f0e3d5;
}

.landing-cls-42 {
  fill: #523518;
}

.landing-cls-43 {
  fill: #5e2f1f;
}

.landing-cls-44 {
  fill: #5e3326;
}

.landing-cls-45 {
  fill: #4a3217;
}

.landing-cls-46 {
  fill: #633e28;
}

.landing-cls-47 {
  fill: #b6ccbe;
}

.landing-cls-48 {
  fill: #906134;
}

.landing-cls-49 {
  fill: #512214;
}

.landing-cls-50 {
  fill: #562314;
}

.landing-cls-51 {
  fill: #5d3a28;
}

.landing-cls-52 {
  fill: #80512a;
}

.landing-cls-53 {
  fill: #996538;
}

.landing-cls-54 {
  fill: #682412;
}

.landing-cls-55 {
  fill: #6b2511;
}

.landing-cls-56 {
  fill: #fff;
}

.landing-cls-57 {
  fill: #d6a975;
}

.landing-cls-58 {
  fill: #622715;
}

.landing-cls-59 {
  fill: #95592f;
}

.landing-cls-60 {
  fill: #a95d22;
}

.landing-cls-61 {
  fill: #6d2917;
}

.landing-cls-62 {
  fill: #89572f;
}

.landing-cls-63 {
  fill: #350e05;
}

.landing-cls-64 {
  fill: #965421;
}

.landing-cls-65 {
  fill: #81542d;
}

.landing-cls-66 {
  fill: #3f4121;
}

.landing-cls-67 {
  fill: #c4854c;
}

.landing-cls-68 {
  fill: #aa7642;
}

.landing-cls-69 {
  fill: #e2b987;
}

.landing-cls-70 {
  fill: #401e12;
}

.landing-cls-71 {
  fill: #84572f;
}

.landing-cls-72 {
  fill: #652816;
}

.landing-cls-73 {
  fill: #945a29;
}

.landing-cls-74 {
  fill: #493217;
}

.landing-cls-75 {
  fill: #bf7d46;
}

.landing-cls-76 {
  fill: #c17e47;
}

.landing-cls-77 {
  fill: #7a2816;
}

.landing-cls-78 {
  fill: #ab6e39;
}

.landing-cls-79 {
  fill: #90501c;
}

.landing-cls-80 {
  fill: #6c4320;
}

.landing-cls-81 {
  fill: #e6d2be;
}

.landing-cls-82 {
  fill: #493117;
}

.landing-cls-83 {
  fill: #6f351e;
}

.landing-cls-84 {
  fill: #e8d1b8;
}

.landing-cls-85 {
  fill: #5e2514;
}

.landing-cls-86 {
  fill: #b48f68;
}

.landing-cls-87 {
  fill: #8d5f33;
}

.landing-cls-88 {
  fill: #6e2a17;
}

.landing-cls-89 {
  fill: #6c2916;
}

.landing-cls-90 {
  fill: #92381c;
}

.landing-cls-91 {
  fill: #885930;
}

.landing-cls-92 {
  fill: #bb7d48;
}

.landing-cls-93 {
  fill: #8b6948;
}

.landing-cls-94 {
  fill: #5c3e37;
}

.landing-cls-95 {
  fill: #684623;
}

.landing-cls-96 {
  fill: #582313;
}

.landing-cls-97 {
  fill: #976336;
}

.landing-cls-98 {
  fill: #692512;
}
